<!-- home.component.html -->
<div class="home">
    <div class="hero">
      <h1>Benvenuto nel mio Portafoglio</h1>
      <p>Ciao, sono Serge  e sono un Web Developer.</p>
      <!-- Altri elementi accattivanti come un'immagine di sfondo o un video possono essere aggiunti qui -->

    </div>
    <div class="about-me">

    </div>
    <div class="portfolio">

    </div>
    <div class="contact">


    </div>
  </div>

  <!-- init footer -->
  <div class="footer-container">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/sergeguea/" target="_blank">LinkedIn</a>
      <a href="https://github.com/SERGE3-g" target="_blank">GitHub</a>
      <a href="https://twitter.com/SergeGuea" target="_blank">Twitter</a>
      <a href="https://www.facebook.com/profile.php?id=100015517298715" target="_blank">Facebook</a>
      <a href="https://www.instagram.com/ng_serge_" target="_blank">Instagram</a>

    </div>
    <div class="contact-info">
      <p>Email: gueaserge2@gmail.com</p>
      <p>Phone: +393892978507</p>
    </div>
    <div class="copyright">
      <p>&copy; {{ currentYear }} SergeGuea. All rights reserved.</p>
    </div>
  </div>
