<!-- home.component.html -->
<div class="home">
    <div class="hero">
      <h1>Benvenuto nel mio Portafoglio</h1>
      <p>Ciao, sono Serge  e sono un Web Developer.</p>
      <!-- Altri elementi accattivanti come un'immagine di sfondo o un video possono essere aggiunti qui -->

    </div>
    <div class="about-me">
    
    </div>
    <div class="portfolio">
      <!-- I tuoi progetti del portafoglio possono essere elencati qui -->
    </div>
    <div class="contact">
      
        
    </div>
  </div>
  