<!-- about.component.html -->
<div class="about">
    <div class="profile-picture">
      <!-- Inserisci qui la tua immagine del profilo -->
    </div>
    <div class="about-content">
      <h2>Chi Sono</h2>
      <p>
        Ciao, sono Serge e sono un Programmatore. 
        Raccontami qualcosa di te, la tua passione e il tuo approccio al lavoro.
      </p>
      <p>
        Descrivi le tue competenze, le esperienze lavorative, i progetti interessanti 
        a cui hai partecipato e le tecnologie che conosci. Fai in modo che i visitatori 
        si sentano coinvolti e interessati a continuare a esplorare il tuo portafoglio.
      </p>
    </div>
  </div>
  

  <!-- init footer -->

  <div class="footer-container">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/sergeguea/" target="_blank">LinkedIn</a>
      <a href="https://github.com/SERGE3-g" target="_blank">GitHub</a>
      <a href="https://twitter.com/your-handle" target="_blank">Twitter</a>
      <!-- Aggiungi altri link social qui -->
    </div>
    <div class="contact-info">
      <p>Email: gueaserge2@gmail.com</p>
      <p>Phone: +393892978507</p>
    </div>
    <div class="copyright">
      <p>&copy; {{ currentYear }} SergeGuea. All rights reserved.</p>
    </div>
  </div>
  
