.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: 0.4s;
}

.nav-links a:hover {
  color: #f1c40f;
}

.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #333;
  width: 100%;
  height: calc(100vh - 70px);
  z-index: 1;
}

.show li {
  margin: 10px 0;
}

.show a {
  font-size: 24px;
  padding: 20px;
}