
<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">SERGE GUEA</div>
    <div class="navbar-toggle" (click)="toggleNavbar()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>

    </div>
    <ul class="nav-links" [ngClass]="{'show': navbarOpen}">
      <li><a routerLink="/header">Home</a></li>
      <li><a routerLink="/about-me">About</a></li>
      <li><a routerLink="/portfolio">Portfolio</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/certification">Certifications</a></li>
      <li><a routerLink="/language">Languages</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
  
  