
<div>
    <header>
      <h1>SERGE GUEA</h1>
      <p>Sviluppatore Java, C++, e Framework Angular Developer</p>
      <a href="https://www.linkedin.com/in/sergeguea/" target="_blank">LinkedIn</a>
    </header>
  
    <section id="profile">
      <h2>Profilo Professionale</h2>
    <section id="profile">
        <p>Sono un appassionato sviluppatore con esperienza in Java,
        C++ e Framework Angular. Ho una forte attenzione ai dettagli e
         sono sempre alla ricerca di nuove sfide per migliorare le mie competenze. 
         Sono in grado di lavorare in team e di gestire progetti complessi, mantenendo sempre un alto livello di qualità del lavoro.</p>

    </section>
    </section>
  
    <section id="skills">
        <h2>Competenze Tecniche</h2>
        <ul>
            <li>Java</li>
            <li>C++</li>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Typescript</li>
            <li>MySQL</li>
            <li>MongoDb<i class="devicons devicons-mongodb"></i></li>
            <li>Oracle</li>
            <li>Git</li>
            <li>Linux</li>
            <li>Windows</li>
            <li>MacOS</li>
        </ul>
    </section>
  
    <section id="projects">
      <h2>Progetti</h2>
      <!-- Il tuo testo qui -->
    </section>
  
    <section id="contact">
      <h2>Contatti</h2>
      <!-- Il tuo testo qui -->
    </section>
  </div>
  